<nav class='navigation'>
  <%=image_tag'Logomakr_2tGadH.png',class: 'small_image' %>
  <h1>Financial College App</h1>
</nav>
<%=image_tag'rsz_college_stock_photo.jpg',class: 'medium_image' %>
  <!-- <%=image_tag'rsz_college_stock_photo.jpg',class: 'medium_image' %> -->
<input type="text" id="myInput" class='myInput' onkeyup="myFunction()" placeholder="Search college list below...">
<table id="myTable">
    <tr class="header">
      <th style="width:40%;">School name</th>
      <th style="width:40%;">Median Debt</th>
      <th style="width:40%;">Earnings</th>
    </tr>
    <% @parsed_payments.each do |payment|%>
    <tr>
      <td><%=payment["school.name"]%></td>
      <td><%=payment["2013.aid.median_debt.completers.overall"]%></td>
      <td><%=payment["2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings"]%></td>
    </tr>
    <%end%>
</table>
<div>
  <%= button_to('Want to lower debt? Click here to get scholarships!',  'https://www.fastweb.com/', class: "sidebar",target: "_blank") %>
  <%= button_to('Want to increase your earnings and lower debt? Click here to find a job!', 'https://www.collegerecruiter.com/', class: "sidebar",target: "_blank") %>
</div>

<footer class="footer">
  <h4>Connect on Social Media!</h4>

    <i class="fa fa-facebook-square fa-3x" aria-hidden="true"><%=link_to '', '#' %></i>
    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"><%=link_to '', '#' %></i>
    <i class="fa fa-youtube-square fa-3x" aria-hidden="true"><%=link_to '', '#' %></i>

 <p>Pen graphic by <a href="http://www.flaticon.com/authors/pixel-perfect">pixel_perfect</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Makr">LogoMakr.com</a> https://logomakr.com/2tGadH</p>
</footer>
<script src="https://use.fontawesome.com/8795c4ff26.js"></script>
